In [1]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Toggle Code"></form>''')

# Project Description

> **DESCRIPTION:** blah blah blah

> **AUTHOR:** Neal Gilmore  
> **DATE:** 27-08-2020

## STEP 1: Environment Preparation (Top)

### 1.1 Import required libraries (Top)

In [2]:
# System libraries
import os
import sys
import time
import warnings
import random

# Standard libraries
import numpy as np
import pandas as pd
import dask
import dask.dataframe as dd
#import matplotlib.pyplot as plt
#import seaborn as sns

# Turn off Depreciation and Future warnings
warnings.simplefilter(action='ignore', category=DeprecationWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

if not sys.warnoptions:
    warnings.simplefilter('ignore')

#%matplotlib inline

print('>> Required libraries imported')

>> Required libraries imported

### 1.2 Prepare for reproducability (Top)

In [3]:
# Set random seed to maintain reproducability
random_state = np.random.seed(42)

# Set the plotting style
#plt.style.use('seaborn-whitegrid')

#sns.set(style="whitegrid", palette="Blues", color_codes=True, font='sans-serif', font_scale=1.5)

# Force display of all columns in dataframes
pd.options.display.max_columns = None

## STEP 2: Data Preparation (Top)

### 2.1 Import data (Top)

In [12]:
# Import the dataset

# set the data working directory
os.chdir(os.path.join(os.getcwd(), "..", "data", "raw"))

# Set the name of the file
filename = 'loan_data_2007_2014.csv'

# Read the data into memory as dask dataframe for speed
%time df_backup = dd.read_csv(filename)

# Create an initial copy of the data for processing
%time df = df_backup.copy()

# Convert dask dataframe to pandas dataframe
%time df = df.compute()

print('\n>> {} data successfully imported'.format(filename))

# set the model working directory
os.chdir(os.path.join(os.getcwd(), "..", "..", "notebooks"))

Wall time: 39.9 ms
Wall time: 998 Âµs
Wall time: 5.68 s

>> loan_data_2007_2014.csv data successfully imported

### 2.2 Summary statistics (Top)

In [13]:
# Describe the shape of the data
print("\nNumber of rows in the raw data: {}".format(df.shape[0]))
print("Number of columns in the raw data: {}\n".format(df.shape[1]))

Number of rows in the raw data: 466285
Number of columns in the raw data: 75

In [14]:
# Describe the df; Round values to 2 decimals
print(np.round(df.describe(), 2).T)

                                count         mean          std       min  \
Unnamed: 0                   466285.0    233142.00    134605.03      0.00
id                           466285.0  13079729.91  10893711.62  54734.00
member_id                    466285.0  14597660.62  11682367.44  70473.00
loan_amnt                    466285.0     14317.28      8286.51    500.00
funded_amnt                  466285.0     14291.80      8274.37    500.00
funded_amnt_inv              466285.0     14222.33      8297.64      0.00
int_rate                     466285.0        13.83         4.36      5.42
installment                  466285.0       432.06       243.49     15.67
annual_inc                   466281.0     73277.38     54963.57   1896.00
dti                          466285.0        17.22         7.85      0.00
delinq_2yrs                  466256.0         0.28         0.80      0.00
inq_last_6mths               466256.0         0.80         1.09      0.00
mths_since_last_delinq       215934.0        34.10        21.78      0.00
mths_since_last_record        62638.0        74.31        30.36      0.00
open_acc                     466256.0        11.19         4.99      0.00
pub_rec                      466256.0         0.16         0.51      0.00
revol_bal                    466285.0     16230.20     20676.25      0.00
revol_util                   465945.0        56.18        23.73      0.00
total_acc                    466256.0        25.06        11.60      1.00
out_prncp                    466285.0      4410.06      6355.08      0.00
out_prncp_inv                466285.0      4408.45      6353.20      0.00
total_pymnt                  466285.0     11540.69      8265.63      0.00
total_pymnt_inv              466285.0     11469.89      8254.16      0.00
total_rec_prncp              466285.0      8866.01      7031.69      0.00
total_rec_int                466285.0      2588.68      2483.81      0.00
total_rec_late_fee           466285.0         0.65         5.27      0.00
recoveries                   466285.0        85.34       552.22      0.00
collection_recovery_fee      466285.0         8.96        85.49      0.00
last_pymnt_amnt              466285.0      3123.91      5554.74      0.00
collections_12_mths_ex_med   466140.0         0.01         0.11      0.00
mths_since_last_major_derog   98974.0        42.85        21.66      0.00
policy_code                  466285.0         1.00         0.00      1.00
annual_inc_joint                  0.0          NaN          NaN       NaN
dti_joint                         0.0          NaN          NaN       NaN
verification_status_joint         0.0          NaN          NaN       NaN
acc_now_delinq               466256.0         0.00         0.07      0.00
tot_coll_amt                 396009.0       191.91     14630.21      0.00
tot_cur_bal                  396009.0    138801.71    152114.66      0.00
open_acc_6m                       0.0          NaN          NaN       NaN
open_il_6m                        0.0          NaN          NaN       NaN
open_il_12m                       0.0          NaN          NaN       NaN
open_il_24m                       0.0          NaN          NaN       NaN
mths_since_rcnt_il                0.0          NaN          NaN       NaN
total_bal_il                      0.0          NaN          NaN       NaN
il_util                           0.0          NaN          NaN       NaN
open_rv_12m                       0.0          NaN          NaN       NaN
open_rv_24m                       0.0          NaN          NaN       NaN
max_bal_bc                        0.0          NaN          NaN       NaN
all_util                          0.0          NaN          NaN       NaN
total_rev_hi_lim             396009.0     30379.09     37247.13      0.00
inq_fi                            0.0          NaN          NaN       NaN
total_cu_tl                       0.0          NaN          NaN       NaN
inq_last_12m                      0.0          NaN          NaN       NaN

                                    25%          50%          75%          max
Unnamed: 0                    116571.00    233142.00    349713.00    466284.00
id                           3639987.00  10107897.00  20731209.00  38098114.00
member_id                    4379705.00  11941075.00  23001541.00  40860827.00
loan_amnt                       8000.00     12000.00     20000.00     35000.00
funded_amnt                     8000.00     12000.00     20000.00     35000.00
funded_amnt_inv                 8000.00     12000.00     19950.00     35000.00
int_rate                          10.99        13.66        16.49        26.06
installment                      256.69       379.89       566.58      1409.99
annual_inc                     45000.00     63000.00     88960.00   7500000.00
dti                               11.36        16.87        22.78        39.99
delinq_2yrs                        0.00         0.00         0.00        29.00
inq_last_6mths                     0.00         0.00         1.00        33.00
mths_since_last_delinq            16.00        31.00        49.00       188.00
mths_since_last_record            53.00        76.00       102.00       129.00
open_acc                           8.00        10.00        14.00        84.00
pub_rec                            0.00         0.00         0.00        63.00
revol_bal                       6413.00     11764.00     20333.00   2568995.00
revol_util                        39.20        57.60        74.70       892.30
total_acc                         17.00        23.00        32.00       156.00
out_prncp                          0.00       441.47      7341.65     32160.38
out_prncp_inv                      0.00       441.38      7338.39     32160.38
total_pymnt                     5552.13      9419.25     15308.16     57777.58
total_pymnt_inv                 5499.25      9355.43     15231.31     57777.58
total_rec_prncp                 3708.56      6817.76     12000.00     35000.03
total_rec_int                    957.28      1818.88      3304.53     24205.62
total_rec_late_fee                 0.00         0.00         0.00       358.68
recoveries                         0.00         0.00         0.00     33520.27
collection_recovery_fee            0.00         0.00         0.00      7002.19
last_pymnt_amnt                  312.62       545.96      3187.51     36234.44
collections_12_mths_ex_med         0.00         0.00         0.00        20.00
mths_since_last_major_derog       26.00        42.00        59.00       188.00
policy_code                        1.00         1.00         1.00         1.00
annual_inc_joint                    NaN          NaN          NaN          NaN
dti_joint                           NaN          NaN          NaN          NaN
verification_status_joint           NaN          NaN          NaN          NaN
acc_now_delinq                     0.00         0.00         0.00         5.00
tot_coll_amt                       0.00         0.00         0.00   9152545.00
tot_cur_bal                    28618.00     81539.00    208953.00   8000078.00
open_acc_6m                         NaN          NaN          NaN          NaN
open_il_6m                          NaN          NaN          NaN          NaN
open_il_12m                         NaN          NaN          NaN          NaN
open_il_24m                         NaN          NaN          NaN          NaN
mths_since_rcnt_il                  NaN          NaN          NaN          NaN
total_bal_il                        NaN          NaN          NaN          NaN
il_util                             NaN          NaN          NaN          NaN
open_rv_12m                         NaN          NaN          NaN          NaN
open_rv_24m                         NaN          NaN          NaN          NaN
max_bal_bc                          NaN          NaN          NaN          NaN
all_util                            NaN          NaN          NaN          NaN
total_rev_hi_lim               13500.00     22800.00     37900.00   9999999.00
inq_fi                              NaN          NaN          NaN          NaN
total_cu_tl                         NaN          NaN          NaN          NaN
inq_last_12m                        NaN          NaN          NaN          NaN

In [15]:
# Identify column datatypes
print(df.dtypes)

list(set(df.dtypes.tolist()))

Unnamed: 0            int64
id                    int64
member_id             int64
loan_amnt             int64
funded_amnt           int64
                     ...
all_util            float64
total_rev_hi_lim    float64
inq_fi              float64
total_cu_tl         float64
inq_last_12m        float64
Length: 75, dtype: object

[dtype('float64'), dtype('int64'), dtype('O')]

In [16]:
df

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.00,0.00,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.00,0.00,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.00,0.00,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.90,766.90,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100358,466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,Financial Advisor,4 years,MORTGAGE,110000.0,Source Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,773xx,TX,19.85,0.0,Apr-03,2.0,NaN,NaN,18.0,0.0,23208,77.6,36.0,w,12574.00,12574.00,10383.360000,10383.36,5826.00,4557.36,0.00,0.00,0.00,Jan-16,432.64,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,294998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
100359,466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,Chief of Interpretation (Park Ranger),10+ years,MORTGAGE,78000.0,Verified,Jan-14,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,377xx,TN,18.45,0.0,Jun-97,5.0,NaN,116.0,18.0,1.0,18238,46.3,30.0,f,0.00,0.00,4677.920000,4677.92,1837.04,2840.88,0.00,0.00,0.00,Dec-14,17.50,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,221830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
100360,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,patrol,7 years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,458xx,OH,25.65,0.0,Dec-01,2.0,65.0,NaN,18.0,0.0,6688,51.1,43.0,f,14428.31,14428.31,12343.980000,12343.98,6271.69,6072.29,0.00,0.00,0.00,Jan-16,514.34,Feb-16,Dec-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,73598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
100361,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,Server Engineer Lead,3 years,OWN,83000.0,Verified,Jan-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,913xx,CA,5.39,3.0,Feb-03,1.0,13.0,NaN,21.0,0.0,11404,21.5,27.0,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.00,0.00,0.00,Dec-14,1500.68,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,591610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
100362,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,NaN,10+ years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/13 > I will like a l...,other,Other,950xx,CA,22.78,1.0,Feb-00,0.0,9.0,NaN,6.0,0.0,11325,70.8,22.0,f,3984.38,3974.41,8821.620000,8799.57,6015.62,2806.00,0.00,0.00,0.00,Jan-16,367.58,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,57477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

## STEP 3: Data Pre-processing (Top)Â¶

## STEP 4: Data Processing (Top)

## STEP 6: Feature Extraction (Top)Â¶

## STEP 7: Save Processed Data (Top)Â¶

### 7.1 Drop unnecessary columns (Top)

### 7.2 Save processed data (Top)